Repository godotengine/godot-demo-projects, pull requests merged in 2021-06, with the labels that each got.

#625 Simplify 3D robot in the 3D in 2D demo
  viewport/3d_in_2d/robot_3d.gd
  viewport/3d_in_2d/robot_3d.tscn
Labels: enhancement

#623 3D physics tests - Moving platform
  3d/physics_tests/project.godot
  3d/physics_tests/tests.gd
  3d/physics_tests/tests/functional/test_moving_platform.gd
  3d/physics_tests/tests/functional/test_moving_platform.tscn
  3d/physics_tests/utils/kinematicbody_physics.gd
Labels: enhancement, topic:physics

#627 Replace built-in scripts and delete strange "e" scripts
  loading/multiple_threads_loading/link_button.gd
  loading/multiple_threads_loading/preload.tscn
  networking/webrtc_minimal/link_button.gd
  networking/webrtc_minimal/main.tscn
  viewport/2d_in_3d/2D_in_3D.tscn
  viewport/3d_in_2d/robot_3d.tscn
  viewport/gui_in_3d/default_env.tres
Labels: enhancement

#628 Add a Skeleton2D demo
  2d/skeleton/README.md
  2d/skeleton/icon.png
  2d/skeleton/icon.png.import
  2d/skeleton/level.tscn
  2d/skeleton/level/background.tscn
  2d/skeleton/level/background/cloud_1.png
  2d/skeleton/level/background/cloud_1.png.import
  2d/skeleton/level/background/cloud_2.png
  2d/skeleton/level/background/cloud_2.png.import
  2d/skeleton/level/background/cloud_3.png
  2d/skeleton/level/background/cloud_3.png.import
  2d/skeleton/level/background/distant_platforms_1.png
  2d/skeleton/level/background/distant_platforms_1.png.import
  2d/skeleton/level/background/distant_platforms_2.png
  2d/skeleton/level/background/distant_platforms_2.png.import
  2d/skeleton/level/background/sky.png
  2d/skeleton/level/background/sky.png.import
  2d/skeleton/level/level.gd
  2d/skeleton/level/tileset/tiles_demo.png
  2d/skeleton/level/tileset/tiles_demo.png.import
  2d/skeleton/level/tileset/tileset.tres
  2d/skeleton/player/gBot.png
  2d/skeleton/player/gBot.png.import
  2d/skeleton/player/player.gd
  2d/skeleton/player/player.tscn
  2d/skeleton/project.godot
  2d/skeleton/screenshots/.gdignore
Labels: new demo
